NODE_ENV=development

DATABASE_URL=postgres://postgres:kidsloop@localhost/kidsloop
DATABASE_LOGGING=true

ROUTE_PREFIX=
DOMAIN=fe.kidsloop.net
PORT=5000

JWT_ISSUER=
JWT_SECRET=
JWT_ALGORITHM=
JWT_ACCESS_TOKEN_DURATION=900
JWT_REFRESH_TOKEN_DURATION=1206000
JWT_COOKIE_ALLOW_HTTP=
JWT_PRIVATE_KEY=
JWT_PRIVATE_KEY_FILENAME=
JWT_PRIVATE_KEY_PASSPHRASE=
JWT_PUBLIC_KEY=
JWT_PUBLIC_KEY_FILENAME=
